* {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #0065FC;
}

.logo {
display: flex;
position: absolute;
justify-content: center;
top: 20px;
left: 40px;

}

@media all and (max-width: 768px) {
    .logo {
        display: block;
        justify-content: center;
        position: relative;
        margin-left: 400px;
    }
}

.top-nav-accommodations:hover {
    border-top: 2px solid #0065FC;

}

.top-nav-activities:hover {
    border-top: 2px solid #0065FC;

}

.filter:hover {
    background-color: #f2f2f2;
}

.container {
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 0px;    
    color: black;
    padding-top: 10px;
    
}


.container div:nth-child(1) {
    background-color: white;
    padding: 30px;
}

.container div:nth-child(2) {
    color: black;
    padding: 30px;
}

.container div:nth-child(3){
    padding: 30px;  
}

h1 {
    color: black;
    font-weight: 900;
    font-size: large;
}

h2 {
    color: black;
    font-weight: 900;
    font-size: medium;
    padding-bottom: 5px;
}

h3 {
        color: black;
        font-weight: 900;
        font-size: large;
}

h4 {
    color: black;
    font-weight: 900;
}

.taglines {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
}

.taglines div:nth-child(1) {
    color: black;
    font-size: 14px;
    font-weight: bolder;
}

.taglines div:nth-child(2) {
    color: black;
    font-size: 15px;
    padding-bottom: 15px;
}

b {
    color: white;
    font-size: 16px;
}

.activities {
    color: black;
}

.search-field {
    display: flex;
    color: black;
    border: 1px solid white;
    padding-bottom: 0px;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 30px
}

.search-field div:nth-child(1) {
    background-color: #F2F2F2;
    border: 0px solid #f2f2f2;
    padding: 5px;
    padding-left: 25px;
    padding-top: 28px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: black;
}

.search-field div:nth-child(2) {
    background-color: #F2F2F2;
    border: 0px solid #f2f2f2;
    padding: 15px;

}

.search-field div:nth-child(3) {
    background-color: #0065FC;
    border: 0px solid #0065FC;
    padding: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
}

a {
    text-decoration: none;
    font-size: medium;
}

.searchlink {
    color: white;
    background-color: #0065FC;
    font-weight: bolder;
    font-size: 17px;
   
}

input {
    height: 40px;
    width: 175px;
  }

.filter {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin: inherit;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    justify-content: start;
    align-items: center;
    height: 30px;
}

.filter-icon {
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    flex-basis: 9%;
    padding: 8px;
    border-radius: 30px;
}

.filter-text {
    flex-basis: 75%;
    color: black;
    font-weight: bold;
}

.filters {
    display: flex;
    flex-direction: row;
    color: black;
    border: 1px solid white;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    margin-left: 30px;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
}

@media all and (max-width: 768px) {
    .filters {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 15px;

    }
}

.filters div:nth-child(1) {
    color: black;
    font-weight: bolder;
}

filters {
    font-weight: bolder;
    color: black;
}

p {
    
    color: black;
    font-size: small;
}


.info {
    display: flex;
    color: black;
    border: 1px solid white;
    text-align: center;
    margin-left: 30px;
    }

.info div:nth-child(1) {
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    padding: 5px;
    height: 18px;
    width: 18px;
    padding-bottom: 6px;
}

.info div:nth-child(2) {
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 25px;
    color: black;
}

.accommodationsinmarseille {
    display: flex;
    color: black;
    background-color: #F2F2F2;
    border: 0px solid white;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 25px;
    padding-top: 25px;
   
}


.accommodationsinmarseille div:nth-child(1) {
    color: black;
    font-weight: bolder;
    font-size: 15px;
 }

.accommodations-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap; 
    color: black;
    border: 0px solid white;
    background-color: #F2F2F2;
    max-width: 780px;
    min-width: 280px; 
    padding: 15px;   
    
}

@media all and (max-width: 768px) {
    .accommodations-tiles {
        display: flex;
        flex-direction: column;
        align-content: center;
    
  }
}

.accommodations-tiles div:nth-child(1) {
    border: 5px solid white;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}


.img1 {
    border: 0px solid #f2f2f2;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom: 5px solid white;
    object-fit: cover;


}

.img2 {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    float: left;
    padding-right: 5px;
    object-fit: cover;
}

.caption {
    display: block;
    color: black;
    font-size: 12px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: white;
    font-weight: bolder;
}

.caption2 {
    display: block;
    color: black;
    font-size: 12px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: white;
    font-weight: bolder;
    text-align:left;
    
    
}

.caption-price {
    display: block;
    color: black;
    font-size: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: white;
    font-weight: initial;
}

.caption-price2 {
    display: block;
    color: black;
    font-size: 10px;
    padding-bottom: 5px;
    background-color: white;
    font-weight: initial;
}

.caption-stars {
    display: block;
    font-size: 10px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: white;
}

.caption-stars2 {
    display: block;
    font-size: 10px;
    padding-bottom: 3px;
    background-color: white;
    padding-left: 155px;

}

.fa-chart-line {
    color: black;
}

.show {
    background-color: #F2F2F2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 25px;
    font-size: 12px;
}
.mostpopulartiles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: nowrap; 
    color: black;
    border: 0px solid white;
    background-color: #F2F2F2;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 25px;
    max-width: 500px;
    max-height: 800px;
    }

    @media all and (max-width: 768px) {
        .mostpopulartiles {
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            margin-top: 25px;
        }
    }


    .mostpopulartiles div:nth-child(1) {
        display: flex;
        color: black;
        font-weight: bolder;
        font-size: 15px;
        padding: 0px;
        padding-bottom: 10px;
        justify-content: space-between;
        align-items: center;
       
     }

     .mostpopulartiles div:nth-child(2) {
        border: 5px solid white;
        border-radius: 10%;
        background-color: white; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        
     
     }

     .mostpopulartiles div:nth-child(3) {
        border: 5px solid white;
        border-radius: 10%;
        background-color: white;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
     }

     .mostpopulartiles div:nth-child(4) {
        border: 5px solid white;
        border-radius: 10%;
        background-color: white;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
     }


    .container8 {
        display: flex;
        justify-content: space-evenly;
        align-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
        min-width: 992px;
    }

    @media all and (max-width: 768px) {
        .container8 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
    }

.showmore {
    color: black;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: bold;
    padding-left: 25px;

    }
            
    
.section {
    display: flex;
    align-content: space-between;
}

.img3 {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    object-fit: cover;
}

.caption3 {
    display: block;
    color: black;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 15px;
    background-color: white;
    font-weight: bolder;
    text-align:left;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.activitiesinmarseille {
    display: flex;
    justify-content: left;
    
    margin-left: 100px;
 
}

@media all and (max-width: 768px) {
    .activitiesinmarseille {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0px;
        align-content: center;
    }
}


.activities-tiles-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: nowrap; 
    color: black;
    border: 0px solid white;
        

}

@media all and (max-width: 768px) {
    .activities-tiles-row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}





.activities-tiles-row div:nth-child(1) {
    border: 0px solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    
 }

 .activities-tiles-column div:nth-child(1) {
    border: 0px solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
   
 }

 .activities-tiles-column div:nth-child(2) {
    border: 0px solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    
    
 }
 .activities-tiles-column div:nth-child(3) {
    border: 0px solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
 }

 .activities-tiles-column div:nth-child(4) {
    border: 0px solid white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;

    
 }
.about {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ouraccommodations {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.assistance {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;

}

.container9 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-right: 300px;
    
}

@media all and (max-width: 768px) {
    .container9 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding: 0px;
    }
}

.container10 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 992px;
}

@media all and (max-width: 768px) {
    .container10 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

.container11 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 992px;
}

@media all and (max-width: 768px) {
    .container11 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) { 
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  } 
  




 

 

 

    



 